/* A simple, css only, (some-what) responsive menu */


 
.wrap {
  display: inline-block;
  margin-top: 40px;
}

/* a little "umph" */
.decor {
  background: #6EAF8D;
  background: -webkit-linear-gradient(left, #CDEBDB 50%, #6EAF8D 50%);
  background: -moz-linear-gradient(left, #CDEBDB 50%, #6EAF8D 50%);
  background: -o-linear-gradient(left, #CDEBDB 50%, #6EAF8D 50%);
  background: linear-gradient(left, white 50%, #6EAF8D 50%);
  background-size: 50px 25%;;
  padding: 2px;
  display: block;
}

.wrap a {
  text-decoration: none;
  color: black;
  display: block;
}

.wrap ul {
  list-style: none;
  position: relative;
  text-align: left;
}

.wrap li {
  float: left;
}

/* clear'n floats */
.wrap ul:after {
  clear: both;
}

.wrap ul:before,
ul:after {
    content: " ";
    display: table;
}

.wrap nav {
  position: relative;
  background: #fdc635;
  background-image: -webkit-linear-gradient(bottom, #fdc635 7%, #fdc635 100%);
  background-image: -moz-linear-gradient(bottom, #fdc635 7%, #fdc635 100%);
  background-image: -o-linear-gradient(bottom, #fdc635 7%, #fdc635 100%);
  background-image: linear-gradient(bottom, #fdc635 7%, #fdc635 100%);
  text-align: center;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px #0E0E0E;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

/* prime */
.wrap ul.primary li a {
  display: block;
  padding: 20px 30px;
  border-right: 1px solid black;
}

.wrap ul.primary li:last-child a {
  border-right: none;
}

.wrap ul.primary li a:hover {
  
  color: #000;
}

/* subs */
.wrap ul.sub {
  position: absolute;
  z-index: 200;
  width: 35%;
  display:none;
  border: 2px solid black;
  border-radius:25px;
}

.wrap ul.sub li {
  float: none;
  margin: 0;
}

.wrap ul.sub li a {
  border-bottom: 2px dotted;
  border-right: none;
  color: #000;
  padding: 15px 30px;

}

.wrap ul.sub li:last-child a {
  border-bottom: none;
}

.wrap ul.sub li a:hover {
  color: #000;
  background: #eeeeee;
}

/* sub display*/
.wrap ul.primary li:hover ul {
  display: block;
  background: rgba(253,198,53,0.7);
}

/* keeps the tab background white */
.wrap ul.primary li:hover a {
  background: rgba(253,198,53,0.7);
  color: black;
  text-shadow: none;
}

.wrap ul.primary li:hover > a{
  color: #000;
} 

@media only screen and (max-width: 600px) {
  .decor {
    padding: 3px;
  }
  
  .wrap {
    width: 100%;
    margin-top: 0px;
  }
  
   .wrap li {
    float: none;
  }
  
  .wrap ul.primary li:hover a {
    background: none;
    color: #8B8B8B;
    text-shadow: 1px 1px #000;
  }

  .wrap ul.primary li:hover ul {
    display: block;
    background: #272727;
    color: #fff;
  }
  
  .wrap ul.sub {
    display: block;  
    position: static;
    box-shadow: none;
    width: 100%;
  }
  
  .wrap ul.sub li a {
    background: #272727;
  	border: none;
    color: #8B8B8B;
  }
  
  .wrap ul.sub li a:hover {
    color: #ccc;
    background: none;
  }
}