.imagecontainer {
  position: relative;
  padding: 20px;
}

.pic {
  display: block;
}

.overlay {
  position: absolute;
  bottom: 100%;
  background-color: red;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.imagecontainer:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}