.navbar {
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  background-color: black;
  border-radius: 25px;
}

.navbar a {
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: all 0.6s;
}

.navbar a:hover {
  color:black;
  background: #fdc635;
  box-shadow: 0 0 10px #cc7722, 0 0 40px #cc7722, 0 0 80px #cc7722;
  transition-delay: 0.3s;
  font-weight: bolder;
  border-radius: 25px;
}

.navbar i {
  color:#fdc635;
}

.navbar span {
  position: absolute;
  display: block;
}

.navbar span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 7px;
  background: linear-gradient(90deg,transparent, #fdc635);
}

.navbar:hover span:nth-child(1) {
  left: 100%;
  transition: 0.7s;
}

.navbar span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 7px;
  background: linear-gradient(270deg,transparent, #fdc635);
}

.navbar:hover span:nth-child(3) {
  right: 100%;
  transition: 0.5s;
}


/********************************************** 
*****************DESIGN BOX********************
***********************************************
*/

.boxcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 400px;
}

.boxcontainer .box {
  position: relative;
  width: 450px; /* boxok szélessége */
  padding: 40px;
  background: #fdc635;
  box-shadow: 0 5px 15px rgba(255,255,255,0);
  border-radius: 24px;
  margin: 20px;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
}

.boxcontainer .box:before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255,255,255,0);
  z-index: 2;
  pointer-events: none;
}

.boxcontainer .box .boxicon {
  position: relative;
  width: 120px;
  height: 120px;
  color: black;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 50%;
  font-size: 60px;
  font-weight: 700;
  transition: 1s;
}

.boxcontainer .box:nth-child(1) .boxicon  {
  box-shadow: 0 0 0 0;
  background: #cc7722; 
}

.boxcontainer .box:nth-child(1):hover .boxicon {
  box-shadow: 0 0 0 400px #cc7722;
}

.boxcontainer .box:nth-child(2) .boxicon  {
  box-shadow: 0 0 0 0;
  background: #cc7722; 
}

.boxcontainer .box:nth-child(2):hover .boxicon {
  box-shadow: 0 0 0 400px #cc7722;
}

.boxcontainer .box .boxcontent {
  position: relative;
  z-index: 1;
  transition: 0.5s;
}

.boxcontainer .box:hover .boxcontent {
  color: #fff;
}

.boxcontainer .box .boxcontent h3 {
  font-size: 25px;
  margin: 10px 0;
  padding: 0;
  font-weight: bold;
}

.boxcontainer .box .boxcontent p {
  margin: 0;
  padding: 0;
}

.boxcontainer a {
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  margin-top: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
}

.boxcontainer a:hover {
  font-family: sans-serif;
  box-shadow: 0 12px 15px rgba(0,0,0,.6);
  border-radius: 50px;
  transition: all 0.6s;
  font-size: 30px;
  color:#cc7722 ;
  background-color: black;
  padding: 10px 20px;
  font-weight: bold;
}
