@font-face {
    font-family: 'pizzafont';
    src: url('../fonts/pizza.ttf');
}

body {
	padding-top: 40px;
	padding-bottom: 80px;
	background-color: #d79b5d;
	color: black;
}

header {
	height: auto;
}

#container {
	background-color: #fdc635;
	box-shadow: 0 0 5px black;
	border-radius:25px;
	padding-top: 20px;
}

footer{
	background-color: black;
	color: white;
	text-align: center;
	letter-spacing: 3px;
	padding: 10px;
	margin-bottom: 15px;
	border-radius:25px;
}

#content {
	padding: 30px;
	line-height: 200%;
	font-size: 150%;
}

#menu {
	padding-top: 20px;
	text-align: center;
	line-height: 50px;
}

#logo {
	background-image: url('images/logo2.png');
    transform: rotate( -25deg ) translateX( -25px ) translateY( -75px );
}

.r{
	text-align: right;
}
.l{
	text-align: left;
}
.c{
	text-align: center;
}
.j{
	text-align: justify;
}

#pizzafont {
	font-size: 450%;
	font-family: 'pizzafont';
}

#pizzafont2 {
	font-size: 200%;
	font-family: 'pizzafont';
}

#login {
	background-color: rgba(0,0,0,0.5);
	color: white;
	text-align: center;
	letter-spacing: 3px;
	padding: 15px;
	margin-bottom: 15px;
	border-radius:25px;
	padding-top: 20px;
}

.adminlogin {
	margin-top: 40px; 
	color: yellow;
	text-align: center;
	letter-spacing: 3px;
	padding: 10px;
	margin-bottom: 15px;
	border-radius:25px;
	padding-top: 20px;
	display: block;
}

.adminlogin:a {
	color:white;
}

.logo:hover {
	-webkit-filter: saturate(800%);
  	filter: saturate(800%);
}

.headpic:hover {
	-webkit-filter: saturate(800%);
  	filter: saturate(800%);
}

#rightside {
	list-style-type: none;
	padding: 20px;
	border:2px solid black;
	border-radius:25px;
	padding-top: 20px;
}

input:focus{
    outline: none;
    box-shadow: 0px 0px 5px #61C5FA;
    border-color: #5AB0DB;
}

#login:hover {
	background-color: rgba(0,0,0,0.9);
}

.search {
	padding-bottom: 20px;
}

.search-txt {
	border: 2px solid black;
	border-radius: 20px;
}

.glyphicon-search {
	color:white;
}

.button-search {
	background-color: black;
	border: none;
	border-radius: 10px;
}

.red {
	color: red;
	font-weight: bold;
}

.red:hover {
	font-size: 24px;
	text-decoration: underline;
}

.pt24 {
	font-size: 24px;
}

.subpagecontent {
	border: solid black 3px;
	height: 200%;
}

#kapcsolat span {
	color:black;
}

#blackspan span {
	color:black;
}

.white {
	color: white;
}

.white:hover {
	color:white;
	font-weight: bold;
	text-decoration: underline;
}

.avatar {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	max-height: 150px;
	max-width: 150px;
}

#submenu a{
	text-decoration: none;
	color: black;
}

#submenu a:hover {
	font-weight: bold;
	text-decoration: none;
}

.bgred {
	background-color: red;
}

.bggreen {
	background-color: green;
}

#chart{
	width: 100%;
	height: 200px;
}

.black {
	color:black;
}

#pizzaikon {
	font-size: 50px;
	color: #fdc635
}

.table-hover > tbody > tr:hover {
  background-color: #d79b5d;
}

hr {
	border: 2px solid black;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #cc7722;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #d79b5d;
}

.black {
	color: black;
}

.black:hover {
	color:black;
	font-weight: bold;
	text-decoration: underline;
}

.imghover:hover {
	border:2px solid black;
}

.greenbg {
	background-color: green;
	border:0;
	border-radius: 25px;
}

.redbg {
	background-color: red;
	border:0;
	border-radius: 25px;
}

.greenbg:hover {
	  font-family: sans-serif;
  box-shadow: 0 12px 15px rgba(0,0,0,.6);
  border-radius: 50px;
  transition: all 0.6s;
  font-size: 30px;
  color:#cc7722 ;
  background-color: green;
  padding: 10px 20px;
  font-weight: bold;
}

.redbg:hover {
	font-family: sans-serif;
  box-shadow: 0 12px 15px rgba(0,0,0,.6);
  border-radius: 50px;
  transition: all 0.6s;
  font-size: 30px;
  color:#cc7722 ;
  background-color: red;
  padding: 10px 20px;
  font-weight: bold;
}

#redbadge{
	position: absolute;
	text-align: right;
	background-color: red;
	color: white;
}

.greenbadge{

	background-color: green;
	color: white;
}

.green {
	color: green;
	font-weight: bold;
}

.green:hover {
	font-size: 24px;
	text-decoration: underline;
}

.redosszeg {
	color: red;
	font-weight: bold;
	font-size: 26px;
}

.redosszeg:hover {
	font-size: 30px;
	text-decoration: underline;
}

.inaktiv {
	color: silver;
}